<form class="search-form" action="/search" method="POST">
	<input
		type="text"
		name="userSearchTerm"
		id="userSearchTerm"
		placeholder="Enter search term here..."
	/>
	<button type="submit">Search</button>
</form>
