<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head') %>

		<title>Movie Project</title>
	</head>
	<body>
		<%- include('partials/nav') %>

		<h1>About Us</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non pariatur
			veritatis inventore dignissimos consectetur illum totam harum nam
			excepturi, voluptate repellendus odit eius assumenda dolor. Tenetur
			commodi nisi exercitationem officia!
		</p>
	</body>
</html>
