<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head') %>

		<title>Login</title>
	</head>
	<body>
		<%- include('partials/nav') %>

		<h1>Login</h1>
		<form action="/login/local" method="POST">
			<div>
				<label for="username">Username</label>
				<input type="text" name="username" id="username" required />
			</div>
			<div>
				<label for="password">Password</label>
				<input type="password" name="password" id="password" required />
			</div>
			<button type="submit">Log in</button>
		</form>
		<!-- <p class="login-github"><a href="/login/github">Login with GitHub</a></p> -->
		<!-- <p class="login-google"><a href="/login/google">Login with Google</a></p> -->
	</body>
</html>
